<div role="grid" class="dataTables_wrapper">
	<table class="table table-bordered table-hover dataTable">
	<thead>
	<tr>
		<th>Code</th>
                <th>Nom</th>
		<th>Type</th>
		<th>Room</th>
		<th>Active</th>
		<th>Action</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th>Code</th>
                <th>Nom</th>
		<th>Type</th>
		<th>Room</th>
		<th>Active</th>
		<th>Action</th>
	</tr>
	</tfoot>
	<tbody>
	{% for entry in entries %}
	<tr>
		<td>{{ entry.code }}</td>
                <td>{{ entry.name }}</td>
		<td>                
                    {% for type in entry.types %}
                      <span class="type">{{ type.name }}</span>
                    {% endfor %}
                </td>
               <td>{{ entry.room.name }}</td>
               <td>
                    {% if entry.is_active %}
                    <a class="label label-success ajax-action" data-action="deactivate" href="/node/state.json?node_id={{ entry.id }}&state=0">Yes</a>
                    {% else %}
                    <a class="label label-default ajax-action" data-action="activate" href="/node/state.json?node_id={{ entry.id }}&state=1">No</a>
                    {% endif %}
                   </td>
               <td></td>
	</tr>
	{% else %}
	<tr>
	    <td colspan="4">No entries</td>
	<tr/>
	{% endfor %}
	</tbody>
	</table>
	<div class="row">
            <div class="col-xs-4">
                <div id="example2_info" class="dataTables_info">
		{% if total > per_page %}
Showing {{ (page - 1) * per_page + 1 }} to {{ (page - 1) * per_page + entries|length }} of {{ total }} entries
{% elseif total <= per_page %}
Showing {{ total }} items
{% else %}
Showing 0 items
{% endif %}
</div>
            </div>
            {% if last_page > 1 %}
            <div class="col-xs-8">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination ajax-pagitation" data-target="/nodes/list.json" data-page="{{ page }}">
                        {% set prevpage = page - 1 %}
                        {% set nextpage = page + 1 %}
                        {% set firstPage = page - 2 %}
                        {% set lastPage = page + 2 %}
                        {% if prevpage %}
                            <li class="first"><a href="?page=1" class="glyphicon glyphicon-fast-backward"> </a></li>
                            <li class="prev"><a href="?page={{ prevpage }}">← Previous</a></li>
                        {% else %}
                            <li class="first disabled"><a href="" class="glyphicon glyphicon-fast-backward"> </a></li>
                            <li class="prev disabled"><a href="">← Previous</a></li>
                        {% endif %}
                        {% for i in firstPage..lastPage %}
                            {% if i > 0 and i <= last_page %}
                            <li class="{% if i == page %}active{% endif %}"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if nextpage <= last_page%}
                            <li class="next"><a href="?page={{ nextpage }}">Next → </a></li>
                            <li class="last"><a href="?page={{ last_page }}" class="glyphicon glyphicon-fast-forward"> </a></li>
                        {% else %}
                            <li class="next disabled"><a href="">Next → </a></li>
                            <li class="last disabled"><a href="" class="glyphicon glyphicon-fast-forward"> </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
	</div>
</div>
